<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Завдання"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="/">
        <svg class="bi pe-none me-2" height="32" width="40">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Task Scheduler</span>
    </a>
    <hr>
    <div>
        <form method="get" th:action="@{/{username}(username=${username})}">
            <input type="hidden" name="page" th:value="${currentPage - 1}" />
            <input type="hidden" name="size" th:value="${pageSize}" />
            <input type="hidden" name="username" th:value="${username}" />
            <button type="submit" th:attr="disabled=${currentPage == 0}">Попередня</button>
        </form>
        <form method="get" th:action="@{/{username}(username=${username})}">
            <input type="hidden" name="page" th:value="${currentPage + 1}" />
            <input type="hidden" name="size" th:value="${pageSize}" />
            <input type="hidden" name="username" th:value="${username}" />
            <button type="submit" th:attr="disabled=${(currentPage + 1) * pageSize >= totalTasks}">Наступна</button>
        </form>
    </div>
    <hr>
    <div class="dropdown">
        <a aria-expanded="false" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" href="#">
            <strong th:text="${username}">username</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="/login">Вийти</a></li>
        </ul>
    </div>
</div>
<p>Поточна сторінка: <span th:text="${currentPage}"></span></p>
<p>Розмір сторінки: <span th:text="${pageSize}"></span></p>
<p>Загальна кількість завдань: <span th:text="${totalTasks}"></span></p>


<div class="container mt-5" style="margin-left: 100px">
    <h1>Додати завдання</h1>
</div>

<div class="container mt-3" style="margin-left: 100px; width: 600px">
    <form th:action="@{/{username}/task/addTask(username=${username})}" th:method="POST" th:object="${task}">
        <div class="mb-3">
            <label class="form-label" for="taskTitle">Заголовок завдання</label>
            <input class="form-control" id="taskTitle" oninput="clearErrorMessage('error-title')"
                   placeholder="Введіть заголовок завдання" th:field="*{title}" type="text">
            <div class="error-message" id="error-title" th:if="${error_title}">
                <span th:text="${error_title}"></span>
            </div>
        </div>
        <div class="mb-3" th:width="400px">
            <label class="form-label" for="taskDescription">Текст завдання</label>
            <textarea class="form-control" id="taskDescription" oninput="clearErrorMessage('error-description')"
                      placeholder="Введіть текст завдання" rows="3" th:field="*{description}">
            </textarea>
            <div class="error-message" id="error-description" th:if="${error_description}">
                <span th:text="${error_description}"></span>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="taskDeadline">Дедлайн завдання</label>
            <input class="form-control" id="taskDeadline" min="" onfocus="setMinDate(this)"
                   oninput="clearErrorMessage('error-deadline')" th:field="*{deadline}" type="date">
            <div class="error-message" id="error-deadline" th:if="${error_deadline}">
                <span th:text="${error_deadline}"></span>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="taskPriority">Пріоритет</label>
            <select class="form-control" id="taskPriority" th:field="*{priority}">
                <option th:value="1">1 (найважливіше)</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
                <option th:value="4">4</option>
                <option th:value="5">5 (найменш важливе)</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Додати завдання</button>
    </form>
</div>

<div class="container mt-5" style="margin-top: -485px !important; margin-right: 100px">
    <div class="d-flex justify-content-end">
        <form method="get" style="display: inline;"
              th:action="@{/{username}(username=${username})}" th:object="${username}">
            <input type="hidden" name="filterStatus"
                   th:value="${filterStatus == 'completed' ? 'notCompleted' : 'completed'}" />
            <input type="hidden" name="page" th:value="${currentPage}" />
            <input type="hidden" name="size" th:value="${pageSize}" />
            <button type="submit" class="btn btn-info">
                <span th:text="${filterStatus == 'completed' ? 'Невиконані' : 'Виконані'}"></span>
            </button>
        </form>
        <form method="post" style="display: inline;" th:action="@{/{username}/tasks/sortByDate(username=${username})}">
            <button class="btn btn-secondary me-2" type="submit">Сортувати за датою</button>
        </form>
        <form method="post" style="display: inline;"
              th:action="@{/{username}/tasks/sortByPriority(username=${username})}">
            <button class="btn btn-secondary" type="submit">Сортувати за пріоритетом</button>
        </form>
    </div>
</div>

<div class="container mt-5" style="margin-right: 100px; width: 600px">
    <div class="card mb-3" th:classappend="${task.completed} ? 'bg-secondary text-white' : ''"
         th:each="task : ${showTask}">
        <div class="card-body">
            <div th:if="${isEditing == task.id}">
                <form th:action="@{/{username}/task/updateTask(username=${username})}"
                      th:method="POST" th:object="${newTask}">
                    <input th:field="*{id}" type="hidden"/>
                    <h5>Редагування завдання</h5>
                    <label class="form-label" for="editTaskTitle">Заголовок завдання</label>
                    <input class="form-control" id="editTaskTitle" oninput="clearErrorMessage('error-edit-title')"
                           placeholder="Введіть заголовок завдання" th:field="*{title}" type="text">
                    <div class="error-message" id="error-edit-title" th:if="${error_title}">
                        <span th:text="${error_title}"></span>
                    </div>

                    <label for="editDescription">Текст завдання:</label>
                    <input class="form-control" id="editDescription"
                           oninput="clearErrorMessage('error-edit-description')" placeholder="Введіть текст завдання"
                           th:field="*{description}" type="text"/>
                    <div class="error-message" id="error-edit-description" th:if="${error_title}">
                        <span th:text="${error_title}"></span>
                    </div>

                    <label class="form-label" for="Deadline">Дедлайн завдання</label>
                    <input class="form-control" id="Deadline" oninput="clearErrorMessage('error-edit-deadline')"
                           th:field="*{deadline}" type="date">
                    <div class="error-message" id="error-edit-deadline" th:if="${error_title}">
                        <span th:text="${error_title}"></span>
                    </div>

                    <label class="form-label" for="priority">Пріоритет</label>
                    <select class="form-control" id="priority" th:field="*{priority}">
                        <option th:value="1">1 (найважливіше)</option>
                        <option th:value="2">2</option>
                        <option th:value="3">3</option>
                        <option th:value="4">4</option>
                        <option th:value="5">5 (найменш важливе)</option>
                    </select>

                    <button class="btn btn-primary" type="submit">Оновити</button>
                    <a th:href="@{'/' + ${username}}">
                        <button class="btn btn-secondary" type="button">Скасувати</button>
                    </a>
                </form>
            </div>
            <div th:if="${isEditing != task.id}">
                <h5 class="card-title" th:text="${task.title}">Заголовок завдання</h5>
                <p class="card-text" th:text="${task.description}">Текст завдання</p>
                <p class="card-text">Термін виконання: <span th:text="${task.deadline}">Дедлайн</span></p>
                <p class="card-text">Пріоритет: <span th:text="${task.priority}">Пріоритет</span></p>
                <a class="btn btn-primary"
                   th:href="@{/{username}/editTask/{id}(id=${task.id}, username=${username})}">Редагувати</a>
                <form method="post" style="display:inline;"
                      th:action="@{/{username}/task/deleteTask/{id}(id=${task.id}, username=${username})}">
                    <button class="btn btn-danger" type="submit">Видалити</button>
                </form>
                <form method="post" style="display:inline;"
                      th:action="@{/{username}/task/toggleCompletedTask/{id}(id=${task.id}, username=${username})}">
                    <button class="btn btn-secondary"
                            th:switch="${task.completed}"
                            type="submit">
                        <span th:case="true">Невиконане</span>
                        <span th:case="false">Виконане</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<script>
    function clearErrorMessage(errorId) {
        const errorMessage = document.getElementById(errorId);
        if (errorMessage) {
            errorMessage.textContent = "";
        }
    }

    function setMinDate(input) {
        const today = new Date().toISOString().split("T")[0];
        input.setAttribute("min", today);
    }
</script>
<style>
    body {
        background: linear-gradient(to bottom right, white, lightgreen, lightskyblue) fixed;
    }

    .error-message {
        color: rgb(255, 0, 0);
        position: absolute;
        font-size: 1em;
        width: 400px;
    }
</style>